$orange-900: #FF6838;
$orange-800: #FFAE94;
$orange-light: #FF7A50;
$orange-veryLight: #FFF2ED;
$silver-200: #ececec;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$silver-100: #f9faff;
$neutral: #fff;