.category-filter {
    display: flex;
    justify-content: space-between;

    &__icon {
        margin-right: 10px;
        fill: $darkBlue-900;

        /*   &.current {
            fill: $neutral;
        } */
    }
}