.category {
    padding-top: 0;
    text-align: center;

    &__filter {
        display: flex;
        margin-bottom: 45px;
    }

    &__filter-item {

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__filter-icon {
        margin-right: 10px;
        fill: $darkBlue-900;
    }

    &__item-btn {
        font-size: 14px;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-color: $neutral;
        padding: 20px 15px;
        border-radius: 5px;
        box-shadow: 0px 0px 0px 1px $silver-200;
        cursor: pointer;

        &__img {
            margin-bottom: 10px;
        }

        &__title {
            font-size: 15px;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        &__price,
        &__currency {
            color: $darkBlue-900;
            @extend %rubik-500;
            line-height: 1.4;
            margin-bottom: 10px;
        }
    }

}

.mixitup-control-active {

    color: $neutral;
    background-color: $orange-900;
    box-shadow: none;

    .category__filter-icon {
        fill: $neutral;
    }

}