.footer {

    &__logo {
        margin-bottom: 30px;
    }

    &__btn {
        max-width: 200px;
        width: 100%;
        padding: 13px 38px;
    }

    &__btn-icon {
        fill: $neutral;
        margin-right: 16px;
    }

    &__top {
        display: flex;
        padding-bottom: 65px;
        border-bottom: 1px solid rgba($gray, 0.2);

        &__icon {
            fill: $dark;
        }

    }

    &__top-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 70px;
        margin-right: 74px;
    }

    &__top-item {
        font-size: 18px;
        letter-spacing: 0.01em;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__bottom {
        padding: 30px 0;
        font-size: 14px;
        line-height: 1;
        text-transform: capitalize;
        text-align: center;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        background-color: $silver-200;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.sub-form {
    display: flex;
    flex-direction: column;
    margin-right: 70px;

    &__caption {
        margin-bottom: 12px;
    }

    &__input {
        max-width: 200px;
        width: 100%;
        padding: 13px 15px;
        background-color: $neutral;
        border: 1px solid $gray;
        border-radius: 5px;
        outline: transparent;

        &::placeholder {
            color: rgba($gray, 0.9);
            font-size: 14px;
        }
    }
}

.address {

    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    &__item {
        display: flex;
        font-size: 16px;
        line-height: 2;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
    }
}