.header {
    padding: 60px 0;


    &__container {
        display: flex;
        justify-content: space-between;

    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.2;
    flex-grow: 1;
    margin-right: 62px;

    &__list {
        display: flex;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 45px;
        }
    }

    &__link {

        &.current {
            color: $orange-900;
        }
    }
}

.logo {
    display: block;
}

.user-nav {
    display: flex;

    &__btn {
        position: relative;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__icon {
        fill: transparent;
        stroke: $darkBlue-900;
    }

    &__number {
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: $orange-900;
        color: $neutral;
        border-radius: 50%;
        font-size: 10px;
        top: 6px;
        right: 5px;
        text-align: center;
        line-height: 14px;
    }
}