.hero {
    padding-top: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 100%;
        padding: 156px 0;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
    }

    &__title {
        color: $darkBlue-900;
        font-size: 66px;
        @extend %rubik-500;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subtitle {
        display: block;
        color: $orange-900;
    }

    &__text {
        max-width: 450px;
        width: 100%;
        margin-bottom: 20px;
        line-height: 1.5;
    }

    &__btn {
        margin-right: 34px;
    }

    &__link {
        text-decoration: underline;
    }
}